mixin preview(label, title, content)
    .col-4.col-xs-12.pb-1
        .preview
            .preview__image
                span.label.preview__label= label
                img.img-fluid(src!=attributes.src)
            .preview__content
                a.preview__title(href="#")= title
                p.text-grey.text-small= content
mixin link-col(title)
    .col-4.mb-1
        a.link-item(href!=attributes.href)= title
mixin link-col-label(title, label)
    .col-4.mb-1
        a.link-item(href!=attributes.href)= title
            span.label.link-item__label= label
mixin link-col-small(title)
    .col-3.mb-1
        a.link-item(href!=attributes.href)= title
mixin link-col-small-label(title, label)
    .col-3.mb-1
        a.link-item(href!=attributes.href)= title
            span.label.link-item__label= label
mixin preview-content(title, content)
    .preview-content
        .preview-content__title= title
        .preview-content__content= content