mixin preview(label, title, content)
    .col-4.col-sm-12.mb-2(class!=attributes.class)
        .preview
            .preview__image
                span.label.preview__label= label
                img.img-fluid(src!=attributes.src)
            .preview__content
                a.preview__title(href="#")= title
                p.text-grey.text-small= content
mixin link-col(title)
    .col-4.mb-1
        a.link-item(href!=attributes.href)= title
mixin link-col-label(title, label)
    .col-4.mb-1
        a.link-item(href!=attributes.href)= title
            span.label.link-item__label= label
mixin link-col-small(title)
    .col-3.mb-1
        a.link-item(href!=attributes.href)= title
mixin link-col-small-label(title, label)
    .col-3.mb-1
        a.link-item(href!=attributes.href)= title
            span.label.link-item__label= label
mixin link-modal-col(title)
    .col-2.mt-1
        a.link-item.link-item_modal(href!=attributes.href)= title
mixin preview-content(title, content)
    .preview-content
        .preview-content__title= title
        .preview-content__content= content
mixin preview-doctor(name, surname, type)
    .preview-doctor(class!=attributes.class)
        .preview-doctor__photo
            img.img-fluid(src!=attributes.src)
        .preview-doctor__content
            p.preview-doctor__name= name 
            p.preview-doctor__surname= surname
            p.preview-doctor__type= type
            if block
                block
            else
                ul.list.preview-doctor__intro
                    li.list__item 
                        span.text-grey Образование: 
                        | высшее медицинское
                    li.list__item 
                        span.text-grey Повышение квалификации: 
                        | 12 программ
                    li.list__item 
                        span.text-grey Опыт работы: 
                        | 5 лет
            a.btn.btn_link(href="#") Подробнее